a{
  text-decoration: none;

}
a:visited{
  color:black;
}

#header {
  display:flex;
  flex-direction: column;
  max-width: 1140px;
  margin: auto;
}

.navbar{
  margin:auto;
  display:flex;
  flex-direction: row;
  background-color:white;
  max-width:1140px;
  width:100%;
  justify-content: flex-end;
  max-height:40px;
  align-items: center;
  border-bottom-width: 1px;
  border-color: black;
  border-bottom-style: solid;

}

.navbar p{
  padding-right:20px;
}
.navbar a{
  padding-right:20px;
  text-decoration: none;
}

.lo-sig-container{
  margin:auto;
  display:flex;
  flex-direction: row;
  max-width:1140px;
  width:100%;
}

.header-bottom{
  display:flex;
  max-height:90px;
  max-width: 1140px;
  width:100%;
  margin:auto;
  justify-content: left; 
  align-items:center; /* background-color:blue; */
  
  
}
.private-menu{
  display:flex;
  height:50px;
  max-width: 1140px;
  width:100%;
  margin: auto;
  background-color: goldenrod;
  justify-content: space-evenly;
  align-items: center;
}


.all-post-container{
  /* background-color: ; */
  min-height:76vh;
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-color: grey; */
  display: flex;
  flex-wrap: wrap;
  max-width:1140px;
  width:100%;
  margin: auto;
  margin-top:30px;
}

.create-form-container{
   /* background-color: red; */
   max-width: 1140px;
   margin:auto;
   /* display: flex; */
   /* flex-direction: row;
align-content: center;
justify-content: center; */
margin-top:50px;
}
.create-form-container input{
  height:35px;
  margin-top: 5px;
}

.create-form-container input {
  font-size: 16px;
  padding: 0 15px;
}
.create-form-container form{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom:100px;
  /* background-color: red; */


}
.create-form-container textarea{
  margin-top:-20px;
  margin-bottom:50px;

  height:200px;
 

}
button {
  margin:auto;
  width:90px
  
}
.create-form-container form button{ 
  max-width: 100px;
}
.songs-wrapper{
  display: flex;
  flex-direction: row;
  min-height:50vh;

}
.Song1-form-container{
  padding:40px;
  flex:1;
  /* background-color:yellow; */
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.Song1-form-container img{
  width:50%;
}

.Song2-form-container{
  padding:40px;
  flex:1;
  /* background-color:orange; */
  display: flex;
  flex-direction: column;

}
.Song2-form-container img{
  width:50%;
}

.post-title{
/* background-color:black; */

width:1020px;
margin:auto;
padding-top:50px;
}

.card-container{
  /* border: solid 1px;
  border-color: grey; */
  margin:20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width:500px;
  /* background-color: red; */
  justify-content: space-evenly
}
.card-container .card-col1{
  display:flex;
  flex-direction: column;
  max-height: 350px;
  /* background-color: red; */
}

.card-col1 p{

margin: 3px;

}
.card-col1 a{
  margin-top: 5px;
  color:red;
}

.card-col1 img{
max-width:225px;
}



.post-wrapper {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  /* margin-bottom:50px; */
  max-width: 1140px;
  justify-content: space-between;
  align-content: center;
  width:100%;
  margin-bottom: 100px;
}

.detail-container{
  display:flex;
  flex-direction: row;
  max-width:1140px;
}



.detail-container .song1-cont{
  display: flex;
  flex:1;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */

  /* background-color: blue; */

}

.detail-container .song2-cont{
  display: flex;
  flex:1;
  flex-direction: column;
  /* background-color: green; */
  /* justify-content: center;
  align-items: center; */
}

iframe{
margin:auto;
width:497px;
height:280px;
}

.data-and-photo1{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 37px;
  /* padding-left: */

}

.data-and-photo2{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 37px;
}
.data-and-photo1 img{
  max-width: 225px;
}

.data-and-photo2 img{
  max-width: 225px;
}

.data1 span{
  font-weight: bold;
}

.buttons{
  display:flex;
  flex-direction: row;
  /* background-color: red; */
  margin-bottom: 100px;
  justify-content:center;
  margin: auto;
}

.description {
  padding: 0px 40px;
  margin-bottom: 190px;
}

h2{
  padding-left: 40px;
}


.lo-sig-container{
  display:flex;
  flex-direction: row;
  /* justify-content: space-between; */
  background-color: goldenrod;
  align-items: center;

}

.lo-sig-container form {
  margin-left: 20px;
}

.lo-sig-container form label{
  margin-left:20px;
}
.lo-sig-container form input{
  margin-left:10px;
}

.lo-sig-container  p{
  display:flex;
  flex-direction: row;
margin-left:200px;

}

.lo-sig-container  a{
color:white;
font-weight: bold;
margin-left: 10px;
/* background-color: red; */

}

.lo-sig-container  button{
  color:white;
  font-weight: bold;
  
  }
